.App {
  text-align: center;
}
body {
  background-color: black;
  overflow-x: hidden;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.header-btn {
  transition: ease-in-out;
  animation-delay: 150ms;
  background-color: #fff300;
  transition-duration: 150ms;
}
.header-btn:hover {
  transform: translateY(1);
  transform: scale(110px);
  background-color: #fff300;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.ant-card-cover img:hover {
  transform: scale(1.2);
}
.ant-tabs-tab-btn {
  font-size: 25px;
  align-items: flex-start;
  max-width: 33%;
  min-width: 150px;
  display: inline-block;
}
.ant-table table {
  font-size: 18px;
}

.ant-table-tbody,
.ant-table-thead,
.ant-table-cell,
.ant-table-row {
  color: #fff !important;
  background: #000 !important;
  border-top: 1px solid #f0f0f0 !important;
  border-radius: unset !important;
  border-bottom: 1px solid #f0f0f0 !important;
}

.ant-table-cell .ant-table-cell-row-hover {
  background: unset !important;
  border-top: 1px solid #f0f0f0 !important;
  border-radius: unset !important;
}

/* .ant-tabs-ink-bar{
  
} */
.ant-form-item .ant-form-item-label label,
.ant-checkbox-checked span {
  color: #fff;
  font-size: 25px;
  padding-right: 15px;
}

.ant-btn-default:not(:disabled):hover {
  color: chartreuse;
  border-color: chartreuse;
}

.ant-tabs-ink-bar {
  position: absolute;
  background-color: #fff300 !important;
  pointer-events: none;
}

.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn,
.ant-tabs .ant-tabs-tab:hover {
  color: #fff300 !important;
}

.day:hover {
  color: #fff300;
  border: 2px solid #fff300 !important;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.swiper-pagination-bullet {
  width: 10px !important;
  height: 10px !important;
  background: rgba(0, 0, 0, 0) !important;
  border: 1px solid #fff !important;
  border-radius: 10px !important;
}
.swiper-pagination-bullet-active {
  width: 12px !important;
  height: 12px !important;
  background: yellow !important;
}
.swiper-img {
  height: 70vh;
  width: 100vw;
  object-fit: fill;
}
footer {
  background: #151515;
  text-align: center;
}
footer .footer-bot {
  padding: 20px 0 78px;

  font-size: 14px;
  color: #a1a1a1;
  letter-spacing: 0;

  /* display: flex;
  justify-content: space-between; */
}

footer .subcribe button,
.tak-with-us button {
  text-transform: uppercase;

  font-size: 14px;
  color: #fff;
  letter-spacing: 0;
  background-color: #333;
  border-radius: 4px;
  padding: 10px 17px;
  display: block;
}
footer .footer-body {
  padding: 30px 0 30px;
  position: relative;
  border-top: 1px solid #2a2a2a;
  border-bottom: 1px solid #2a2a2a;
}
footer .footer-body ul li {
  margin: 0 26px 12px 22px !important;
  display: inline-block;
  list-style: none;
}

.footer-body ul li a {
  font-size: 14px;
  color: #a1a1a1;
  letter-spacing: 1px;
}
footer .footer-top h2 {
  /* font-size: 14px; */
  color: #fff;
  letter-spacing: 0;
  margin-top: 20px;
  margin-bottom: 10px;
}
.n-exp-block ul li {
  margin-right: 12px;
}

.ant-tabs-tabpane .scrollbar {
  scrollbar-color: rebeccapurple green;
}

.scrollbar::-webkit-scrollbar {
  width: 12px;
  background-color: #000; /* width of the entire scrollbar */
}

.scrollbar::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #000;
}

/* Handle */
.scrollbar::-webkit-scrollbar-thumb {
  background-color: #555;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

/* movietab */

/* .movie-tab{
  padding-right: 0!important;
  padding-left: 5rem !important;
} */

@media screen and (min-width: 364px) and (max-width: 767px) {
  .swiper-img {
    height: auto;
  }
  .contact {
    flex-direction: column;
  }
}
